# Ignore file types
*.txt
*.csv
*.ico
*.toc
*.zip

# Except specific files
requirements.txt

# Ignore specific files
.venv
__pycache__
.DS_Store
main.spec
test.py

# Ignore directories
build/main/
dist/

