# Ignore file types
*.txt
*.csv
*.ico
*.toc
*.zip
*.sh
*.xlsx
*.spec
*.png
*.ipynb

# Except specific files
requirements.txt

# Ignore specific files
.venv
__pycache__
.DS_Store
main.spec
test.py
setup.py

# For internal use only
transfer_data.py

# Ignore build and dist directories
build/main/
build/Migraine Log/
build/
dist/

# Ignore other directories
data/

