# Ignore file types
*.txt
*.csv
*.ico
*.toc
*.zip
*.sh
*.xlsx
*.spec
*.png
*.ipynb
*.pkl

# Except specific files
!requirements.txt

# Except specific directories
!screenshots/
!screenshots/*

# Ignore specific files
.venv
__pycache__
.DS_Store
main.spec
test.py
setup.py

# For internal use only
data_import_helpers/

# Ignore build and dist directories
build/main/
build/Migraine Log/
build/
dist/

# Ignore other directories
data/
models/
notebooks/

