# pip install -r requirements.txt

pandas
geocoder
matplotlib
pytz
meteostat
tensorflow
seaborn
scikit-learn

# Below are for creating executables
#pyinstaller    # Use with pyinstaller --onefile main.py
#PyOxidizer
#cx_Freeze