# pip install -r requirements.txt

pandas
geocoder
matplotlib
pytz
meteostat
requests
tensorflow
seaborn
scikit-learn
fastapi
uvicorn

# Below are for creating executables
#pyinstaller    # Use with pyinstaller --onefile main.py
#PyOxidizer
#cx_Freeze